#backgroundimages {
    position: absolute;
    top: 0px;
    z-index: -1;

    img {
        position: absolute;
    }

    #PurpleStar {
        left: 4vw;
        top: 8vh;
        animation: rotatestar infinite ease-in-out 5s forwards;
    }

    #SampleArticle {
        left: 8vw;
        top: 14vh;
        transform: rotate(34deg);
    }

    #DarkGreenStar {
        left: 2vw;
        top: 40vh;
        animation: rotatestar infinite ease-in-out 5s forwards;
    }

    #PinkCircle {
        left: 4vw;
        top: 90vh;
    }

    #LightBlueStar {
        left: 10vw;
        top: 80vh;
        animation: rotatestar infinite ease-in-out 5s forwards;
    }

    #LightGreenStar {
        left: 85vw;
        top: 3vh;
        animation: rotatestar infinite ease-in-out 5s forwards;
    }
    #YellowStar {
        left: 93vw;
        top: 10vh;
        animation: rotatestar infinite ease-in-out 5s forwards;
    }

    #MarsColonization {
        left: 80vw;
        top: 14vh;
        transform: rotate(15.5deg);
    }

    #PinkStar {
        left: 92vw;
        top: 46vh;
        animation: rotatestar infinite ease-in-out 5s forwards;
    }

    #Galaxy {
        left: 70vw;
        top: 45vh;
        transform: rotate(-18deg);
    }

    #OrangeCircle {
        left: 95vw;
        top: 80vh;
    }

    #MahabalipuramImage {
        left: 82vw;
        top: 80vh;
    }
}

@mixin bgimagesres($maxwidth, $scale) {
    @media only screen and (max-width: $maxwidth) {
        #backgroundimages {
            #PurpleStar {
                width: 21px * $scale;
                height: 21px * $scale;
            }

            #SampleArticle {
                width: 145px * $scale;
                height: 153px * $scale;
            }

            #DarkGreenStar {
                width: 82px * $scale;
                height: 82px * $scale;
            }

            #PinkCircle {
                width: 35px * $scale;
                height: 35px * $scale;
            }

            #LightBlueStar {
                width: 49px * $scale;
                height: 49px * $scale;
            }

            #LightGreenStar {
                width: 32px * $scale;
                height: 32px * $scale;
            }
            #YellowStar {
                height: 50px * $scale;
                width: 50px * $scale;
            }

            #MarsColonization {
                width: 273px * $scale;
                height: 200px * $scale;
            }

            #PinkStar {
                width: 47px * $scale;
                height: 47px * $scale;
            }

            #Galaxy {
                width: 370px * $scale;
                height: 275px * $scale;
            }

            #OrangeCircle {
                left: 35px * $scale;
                top: 35px * $scale;
            }

            #MahabalipuramImage {
                width: 128px * $scale;
                height: 125px * $scale;
            }
        }
    }
}

@include bgimagesres(1900px, 0.8);
@include bgimagesres(1250px, 0.7);
@include bgimagesres(1100px, 0.5);
@include bgimagesres(1100px, 0.5);
@include bgimagesres(850px, 0.4);
@include bgimagesres(800px, 0.3);
@include bgimagesres(600px, 0.2);
