@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$righteous: "Righteous";
body {
    background-image: url("/Blog_Images/Space\ Background\ Image.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#buttons_whole {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    padding-top: 5px;

    #buttons {
        margin-top: 10px;
    }
}

#whole {
    background-color: white;
    width: 1800px;
    height: 940px;
    display: flex;
    margin-top: 5px;
    float: right;
    border-radius: 20px;
    position: relative;

    #options {
        height: inherit;
        background-color: red;
        width: 38%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        #thumbnail {
            background-color: rgba(0, 0, 0, 0.596);
            width: 100%;
            height: 44%;
            transform: scale(0.95);
            font-size: 50px;
            color: white;
            font-weight: bolder;
            font-family: $righteous;
            letter-spacing: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;

            img {
                border-radius: 20px;
                width: 100%;
                height: 99%;
            }
        }

        #labels_share_spotify {
            display: flex;
            justify-content: space-between;
            #labels {
                margin-left: 30px;
                margin-top: -20px;
                display: flex;

                img {
                    height: 409px;
                    border-bottom-left-radius: 5px;
                }

                ul {
                    list-style-image: url("/Blog_Images/Label\ UL.png");
                    margin-left: -3px;
                    li input {
                        font-size: 50px;
                        color: white;
                        font-family: $righteous;
                        border-bottom: 2px solid white;
                        width: 350px;
                        background-color: transparent;
                        border: none;
                        border-bottom: 3px solid white;
                        outline: none;
                    }
                }
            }

            #share_spotify {
                margin-right: 20px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                height: 480px;
                justify-content: space-between;
                #share {
                    display: grid;
                    grid-gap: 5px;
                    grid-template-columns: 60px 60px;
                    grid-template-rows: 60px 60px;

                    #Link {
                        margin-top: -2px;
                    }
                }

                #spotify {
                    // width: 100%;
                    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.671));
                }
            }
        }
    }
}

#title_speak_content {
    margin-left: 20px;
    #title_speak {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #Speak {
            width: 100px;
            height: 75px;
        }
    }
    #title {
        font-size: 60px;
        font-family: $righteous;
        text-decoration: underline;
        display: inline-block;
        width: 800px;
    }
    #content {
        font-size: 24px;
        width: 950px;
        word-wrap: break-word;
        height: 750px;
        display: inline-block;
        overflow: auto;
        padding-right: 30px;
    }
}

#confirm {
    background-color: rgb(0, 255, 0);
    height: 940px;
    border: 1px solid rgb(0, 255, 0);
    width: 100px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $righteous;
    position: absolute;
    right: 0px;
    bottom:0px;
}

::-webkit-scrollbar {
    width: 15px;
    cursor: default;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
    cursor: default;
}

::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53);
    border-radius: 10px;
    cursor: default;
}
