@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  background-image: url("/Blog_Images/Space Background Image.png");
  background-size: cover;
  position: relative;
  overflow: hidden;
  image-rendering: auto;
}

body * {
  image-rendering: auto;
}

#buttons_whole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  padding-top: 5px;
}

#buttons_whole #buttons {
  margin-top: 10px;
}

#whole {
  background-color: white;
  width: 1800px;
  height: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  float: right;
  border-radius: 20px;
  position: relative;
}

#whole #options {
  height: inherit;
  background-color: red;
  width: 38%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#whole #options #thumbnail {
  background-color: rgba(0, 0, 0, 0.596);
  width: 100%;
  height: 44%;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  font-size: 50px;
  color: white;
  font-weight: bolder;
  font-family: "Righteous";
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

#whole #options #thumbnail img {
  border-radius: 20px;
  width: 100%;
  height: 99%;
}

#whole #options #labels_share_spotify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#whole #options #labels_share_spotify #labels {
  margin-left: 30px;
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#whole #options #labels_share_spotify #labels img {
  height: 409px;
  border-bottom-left-radius: 5px;
}

#whole #options #labels_share_spotify #labels ul {
  list-style-image: url("/Blog_Images/Label UL.png");
  margin-left: -3px;
}

#whole #options #labels_share_spotify #labels ul li input {
  font-size: 50px;
  color: white;
  font-family: "Righteous";
  border-bottom: 2px solid white;
  width: 350px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
}

#whole #options #labels_share_spotify #share_spotify {
  margin-right: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 480px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#whole #options #labels_share_spotify #share_spotify #share {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: 60px 60px;
      grid-template-columns: 60px 60px;
  -ms-grid-rows: 60px 60px;
      grid-template-rows: 60px 60px;
}

#whole #options #labels_share_spotify #share_spotify #share #Link {
  margin-top: -2px;
}

#whole #options #labels_share_spotify #share_spotify #spotify {
  -webkit-filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.671));
          filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.671));
}

#title_speak_content {
  margin-left: 20px;
}

#title_speak_content #title_speak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title_speak_content #title_speak #Speak {
  width: 100px;
  height: 75px;
}

#title_speak_content #title {
  font-size: 60px;
  font-family: "Righteous";
  text-decoration: underline;
  display: inline-block;
  width: 800px;
}

#title_speak_content #content {
  font-size: 24px;
  width: 950px;
  word-wrap: break-word;
  height: 750px;
  display: inline-block;
  overflow: auto;
  padding-right: 30px;
}

#confirm {
  background-color: lime;
  height: 940px;
  border: 1px solid lime;
  width: 100px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Righteous";
  position: absolute;
  right: 0px;
  bottom: 0px;
}

::-webkit-scrollbar {
  width: 15px;
  cursor: default;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
  cursor: default;
}

::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 10px;
  cursor: default;
}
/*# sourceMappingURL=confirmation.css.map */