@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
    background-image: url("/Blog_Images/Space\ Background\ Image.png");
    background-size: cover;
    background-position: center;
}

* {
    font-family: "Righteous";
    outline: none;
}

header {
    color: #00ffe1;
    text-shadow: 20px 20px 20px black;
    text-align: center;
    width: 97vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        width: 50%;
        font-size: 70px;
    }

    
}
#NavigationBarShow {
    background-image: linear-gradient(30deg, rgb(174, 0, 255), red);
    width: 1200px;
    display: flex;
    align-items: center;

    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    z-index: -1;

    i {
        font-size: 60px;
        margin: 0px 15px;
    }
    border-top-right-radius: 40px;

    span {
        display: flex;
        align-items: center;
        width: 50%;
        position: absolute;
        right: 0px;

        input {
            font-size: 25px;
            padding: 5px;
            width: 90%;
            border: none;
            border-radius: 500px;
        }
        i {
            font-weight: bolder;
        }
    }
}

#NavigationBottom {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    width: 100vw;
    padding: 5px;
    background-image: linear-gradient(45deg, rgb(174, 0, 255), red);

    i {
        font-size: 50px;
        padding: 0px;
    }

    span {
        display: flex;
        flex-direction: column;
        width: 60px;
        align-items: center;
        span {
            margin-bottom: 20px;
            border-radius: 20px;
            // padding: 1vw 2vh;
            background-image: linear-gradient(45deg, rgb(174, 0, 255), red);
            padding: 3px;
            position: absolute;
            bottom: 6vh;
        }
    }
}

@media only screen and (max-width: 1210px) {
    #NavigationBarShow {
        display: none;
    }

    #NavigationBottom {
        display: flex;

        span {
            span {
                display: none;
            }
        }
    }

    header {
        h1 {
            font-size: 10vw;
            width: 80vw;
        }

    }
}
