.detail {
  background-color: white;
  width: 99vw;
  height: 97vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  top: 5px;
  left: 0px;
  position: fixed;
  z-index: 200;
}

.detail .commentsection {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: absolute;
  top: 20vh;
  right: 20px;
}

.detail .commentsection .showcomments {
  font-size: 50px;
  margin-top: 5px;
  border-radius: 50px;
  padding: 25px 5px;
  border: none;
  background-color: black;
  color: white;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail .commentsection .showcomments img {
  margin-top: 20px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 4vw;
}

.detail .commentsection .showcomments span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 2.5vw;
}

.detail .commentsection .comments {
  margin-top: 50px;
  border-radius: 20px;
  width: 480px;
  word-wrap: break-word;
  background-color: bisque;
  margin-right: 10px;
  padding: 10px;
  margin-right: -60px;
  z-index: 2;
  height: 550px;
  position: relative;
  padding-right: 60px;
}

.detail .commentsection .comments #displaycomments {
  height: 490px;
  overflow: auto;
}

.detail .commentsection .comments #displaycomments div {
  padding: 25px 10px;
  border-bottom: 3px solid black;
  border-bottom-style: groove;
}

.detail .commentsection .comments .docomment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.detail .commentsection .comments .docomment input {
  padding: 5px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 70%;
}

.detail .commentsection .comments .docomment button {
  font-size: 40px;
  border: none;
  background-color: transparent;
}

.detail #sharebottom {
  display: none;
}

.detail .back {
  position: absolute;
  right: 20px;
  bottom: 20px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.644));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.644));
}

.detail #thumbnail_tags_share_spotify {
  height: inherit;
  background-color: red;
  width: 38%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.detail #thumbnail_tags_share_spotify #thumbnail {
  width: 100%;
  height: 44%;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.555));
          filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.555));
}

.detail #thumbnail_tags_share_spotify #labels_share_spotify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 37vw;
}

.detail #thumbnail_tags_share_spotify #labels_share_spotify #labels {
  margin-left: 30px;
  margin-top: -20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.detail #thumbnail_tags_share_spotify #labels_share_spotify #labels img {
  border-bottom-left-radius: 5px;
  height: 24.01vw;
}

.detail #thumbnail_tags_share_spotify #labels_share_spotify #labels ul {
  list-style-image: url("/Blog_Images/Label UL.png");
  margin: 0px;
  margin-top: 30px;
  margin-left: -10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
}

.detail #thumbnail_tags_share_spotify #labels_share_spotify #labels ul li {
  font-size: 3vw;
  color: white;
  width: 350px;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.detail #thumbnail_tags_share_spotify #labels_share_spotify #share_spotify {
  margin-right: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 46vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail #thumbnail_tags_share_spotify #labels_share_spotify #share_spotify #share {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.8vw;
  -ms-grid-columns: 6vh 6vh;
      grid-template-columns: 6vh 6vh;
  -ms-grid-rows: 3vw 3vw;
      grid-template-rows: 3vw 3vw;
}

.detail #thumbnail_tags_share_spotify #labels_share_spotify #share_spotify #share img {
  width: 3vw;
}

.detail #thumbnail_tags_share_spotify #labels_share_spotify #share_spotify #share #Link {
  margin-top: -2px;
}

.detail #thumbnail_tags_share_spotify #labels_share_spotify #share_spotify #spotify {
  -webkit-filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.671));
          filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.671));
  width: 7vw;
}

.detail #title_speak_content {
  margin-left: 20px;
  height: inherit;
  overflow: hidden;
}

.detail #title_speak_content #title_speak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53vw;
}

.detail #title_speak_content #title_speak #Speak {
  width: 80;
  height: 60px;
}

.detail #title_speak_content hr {
  margin-left: -20px;
}

.detail #title_speak_content #title {
  font-size: 60px;
  text-decoration: underline;
  display: inline-block;
  width: auto;
}

.detail #title_speak_content #content {
  font-size: 24px;
  width: 55vw;
  word-wrap: break-word;
  height: 73vh;
  display: inline-block;
  overflow: auto;
  padding-right: 30px;
}
/*# sourceMappingURL=detail.css.map */