.detail {
    background-color: white;
    width: 99vw;
    height: 97vh;
    display: flex;
    border-radius: 20px;
    top: 5px;
    left: 0px;
    position: fixed;
    z-index: 200;


    .commentsection {
        z-index: 100;
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;
        position: absolute;
        top: 20vh;
        right: 20px;

        .showcomments {
            font-size: 50px;
            margin-top: 5px;
            border-radius: 50px;
            padding: 25px 5px;
            border: none;
            background-color: black;
            color: white;
            z-index: 5;

            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                margin-top: 20px;
                filter: invert(100%);
                width: 4vw;
            }

            span {
                writing-mode: vertical-rl;
                font-size: 2.5vw;
            }

            // box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.596);
        }
        .comments {
            margin-top: 50px;
            border-radius: 20px;
            width: 480px;
            word-wrap: break-word;
            background-color: bisque;
            margin-right: 10px;
            padding: 10px;
            margin-right: -60px;
            z-index: 2;
            height: 550px;
            position: relative;
            padding-right: 60px;

            #displaycomments {
                height: 85%;
                overflow: auto;

                div {
                    // margin: 30px 10px;
                    padding: 1vh 2vw;
                    border-bottom: 3px solid black;
                    border-bottom-style: groove;
                }
            }

            .docomment {
                input {
                    padding: 5px;
                    font-size: 20px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid black;
                    width: 70%;
                }
                display: flex;
                width: 70%;
                position: absolute;
                bottom: 15px;
                left: 15px;

                button {
                    font-size: 40px;
                    border: none;
                    background-color: transparent;
                }
            }
        }
        // width: 150px;
    }

    #sharebottom {
        display: none;
    }

    .back {
        position: absolute;
        right: 20px;
        bottom: 20px;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.644));
    }
    #thumbnail_tags_share_spotify {
        height: inherit;
        background-color: red;
        width: 38%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        #thumbnail {
            width: 100%;
            height: 44%;
            transform: scale(0.95);
            color: white;
            align-items: center;
            border-radius: 20px;
            filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.555));
        }

        #labels_share_spotify {
            display: flex;
            justify-content: space-between;
            width: 37vw;
            #labels {
                margin-left: 30px;
                margin-top: -20px;
                display: inline-flex;
                justify-content: flex-start;

                img {
                    border-bottom-left-radius: 5px;
                    height: 24.01vw;
                }

                ul {
                    list-style-image: url("/Blog_Images/Label\ UL.png");
                    margin: 0px;
                    margin-top: 30px;
                    margin-left: -10px;
                    height: fit-content;
                    display: inline-block;

                    li {
                        font-size: 3vw;
                        color: white;
                        width: 350px;
                        background-color: transparent;
                        // display: inline-block;
                        width: fit-content;
                    }
                }
            }

            #share_spotify {
                margin-right: 20px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                height: 46vh;
                justify-content: space-between;
                #share {
                    display: grid;
                    grid-gap: 0.8vw;
                    grid-template-columns: 6vh 6vh;
                    grid-template-rows: 3vw 3vw;

                    img {
                        width: 3vw;
                    }

                    #Link {
                        margin-top: -2px;
                    }
                }

                #spotify {
                    // width: 100%;
                    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.671));
                    width: 7vw;
                }
            }
        }
    }
    #title_speak_content {
        margin-left: 20px;
        height: inherit;
        overflow: hidden;


        #title_speak {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 53vw;

            #Speak {
                width: 80;
                height: 60px;
            }
        }

        hr {
            // width: 60.5vw;
            margin-left: -20px;
        }
        #title {
            font-size: 60px;
            text-decoration: underline;
            display: inline-block;
            width: auto;
        }
        #content {
            font-size: 24px;
            width: 55vw;
            word-wrap: break-word;
            height: 73vh;
            display: inline-block;
            overflow: auto;
            padding-right: 30px;
        }
    }
}
