.major {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.major .brief {
  height: 840px;
  width: 700px;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.76);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.76);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.major .brief #Title-Content-Spotify {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.major .brief #Title-Content-Spotify h2 {
  width: 300px;
  font-size: 45px;
  margin-top: 10px;
  margin-left: 10px;
  text-shadow: 2px 2px 10px black;
}

.major .brief #Title-Content-Spotify #Content-Spotify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.major .brief #Title-Content-Spotify #Content-Spotify p {
  font-size: 15px;
  width: 200px;
  height: 285px;
  overflow: hidden;
}

.major .brief #Title-Content-Spotify #Content-Spotify img {
  width: 60%;
  margin: 10%;
}

.major .brief .quarter {
  width: 200px;
  height: 200px;
  border-radius: 400px 20px 20px 20px;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 400px 20px 20px 20px;
  width: 45%;
  height: 35%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.major .brief *:not(.quarter) {
  z-index: 2;
}

.major .brief #Thumbnail {
  width: 95%;
  position: absolute;
  bottom: 10px;
  border-radius: 20px;
  height: 42%;
}

.minor .brief {
  height: 411.6px;
  width: 343px;
  padding: 4.9px;
  position: relative;
  -webkit-box-shadow: 4.9px 4.9px 9.8px rgba(0, 0, 0, 0.76);
          box-shadow: 4.9px 4.9px 9.8px rgba(0, 0, 0, 0.76);
  border-radius: 9.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.minor .brief #Title-Content-Spotify {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.minor .brief #Title-Content-Spotify h2 {
  width: 147px;
  font-size: 22.05px;
  margin-top: 4.9px;
  margin-left: 4.9px;
  text-shadow: 0.98px 0.98px 4.9px black;
}

.minor .brief #Title-Content-Spotify #Content-Spotify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.minor .brief #Title-Content-Spotify #Content-Spotify p {
  font-size: 7.35px;
  width: 98px;
  height: 139.65px;
  overflow: hidden;
}

.minor .brief #Title-Content-Spotify #Content-Spotify img {
  width: 60%;
  margin: 10%;
}

.minor .brief .quarter {
  width: 98px;
  height: 98px;
  border-radius: 196px 9.8px 9.8px 9.8px;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 196px 9.8px 9.8px 9.8px;
  width: 45%;
  height: 35%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.minor .brief *:not(.quarter) {
  z-index: 2;
}

.minor .brief #Thumbnail {
  width: 95%;
  position: absolute;
  bottom: 4.9px;
  border-radius: 9.8px;
  height: 42%;
}

@media only screen and (max-width: 1900px) {
  #whole {
    -ms-grid-rows: (344px)[2] !important;
        grid-template-rows: repeat(2, 344px) !important;
    -ms-grid-columns: (289px)[100] !important;
        grid-template-columns: repeat(100, 289px) !important;
  }
  .major .brief {
    height: 672px;
    width: 560px;
    padding: 8px;
    position: relative;
    -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.76);
            box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.76);
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .major .brief #Title-Content-Spotify {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .major .brief #Title-Content-Spotify h2 {
    width: 240px;
    font-size: 36px;
    margin-top: 8px;
    margin-left: 8px;
    text-shadow: 1.6px 1.6px 8px black;
  }
  .major .brief #Title-Content-Spotify #Content-Spotify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .major .brief #Title-Content-Spotify #Content-Spotify p {
    font-size: 12px;
    width: 160px;
    height: 228px;
    overflow: hidden;
  }
  .major .brief #Title-Content-Spotify #Content-Spotify img {
    width: 60%;
    margin: 10%;
  }
  .major .brief .quarter {
    width: 160px;
    height: 160px;
    border-radius: 320px 16px 16px 16px;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 320px 16px 16px 16px;
    width: 45%;
    height: 35%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
  }
  .major .brief *:not(.quarter) {
    z-index: 2;
  }
  .major .brief #Thumbnail {
    width: 95%;
    position: absolute;
    bottom: 8px;
    border-radius: 16px;
    height: 42%;
  }
  .minor .brief {
    height: 336px;
    width: 280px;
    padding: 4px;
    position: relative;
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.76);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.76);
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .minor .brief #Title-Content-Spotify {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .minor .brief #Title-Content-Spotify h2 {
    width: 120px;
    font-size: 18px;
    margin-top: 4px;
    margin-left: 4px;
    text-shadow: 0.8px 0.8px 4px black;
  }
  .minor .brief #Title-Content-Spotify #Content-Spotify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .minor .brief #Title-Content-Spotify #Content-Spotify p {
    font-size: 6px;
    width: 80px;
    height: 114px;
    overflow: hidden;
  }
  .minor .brief #Title-Content-Spotify #Content-Spotify img {
    width: 60%;
    margin: 10%;
  }
  .minor .brief .quarter {
    width: 80px;
    height: 80px;
    border-radius: 160px 8px 8px 8px;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 160px 8px 8px 8px;
    width: 45%;
    height: 35%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
  }
  .minor .brief *:not(.quarter) {
    z-index: 2;
  }
  .minor .brief #Thumbnail {
    width: 95%;
    position: absolute;
    bottom: 4px;
    border-radius: 8px;
    height: 42%;
  }
}

@media only screen and (max-width: 940px) {
  body {
    overflow-y: scroll !important;
  }
  #whole {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .minor .brief {
    height: 672px;
    width: 560px;
    padding: 8px;
    position: relative;
    -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.76);
            box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.76);
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .minor .brief #Title-Content-Spotify {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .minor .brief #Title-Content-Spotify h2 {
    width: 240px;
    font-size: 36px;
    margin-top: 8px;
    margin-left: 8px;
    text-shadow: 1.6px 1.6px 8px black;
  }
  .minor .brief #Title-Content-Spotify #Content-Spotify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .minor .brief #Title-Content-Spotify #Content-Spotify p {
    font-size: 12px;
    width: 160px;
    height: 228px;
    overflow: hidden;
  }
  .minor .brief #Title-Content-Spotify #Content-Spotify img {
    width: 60%;
    margin: 10%;
  }
  .minor .brief .quarter {
    width: 160px;
    height: 160px;
    border-radius: 320px 16px 16px 16px;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 320px 16px 16px 16px;
    width: 45%;
    height: 35%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
  }
  .minor .brief *:not(.quarter) {
    z-index: 2;
  }
  .minor .brief #Thumbnail {
    width: 95%;
    position: absolute;
    bottom: 8px;
    border-radius: 16px;
    height: 42%;
  }
}
/*# sourceMappingURL=majorminor.css.map */