@mixin responsive($maxwidth, $scale) {
    @media only screen and (max-width: $maxwidth) {
        .major,
        .minor {
            .brief {
                height: 840px * $scale;
                width: 700px * $scale;
                padding: 10px * $scale;
                position: relative;
                box-shadow: 10px * $scale 10px * $scale 20px * $scale rgba(0, 0, 0, 0.76);
                border-radius: 20px * $scale;

                display: flex;
                flex-direction: column;
                align-items: center;

                color: white;

                #Title-Content-Spotify {
                    height: inherit;
                    overflow: hidden;
                    width: 100%;
                    h2 {
                        width: 300px * $scale;
                        font-size: 45px * $scale;
                        margin-top: 10px * $scale;
                        margin-left: 10px * $scale;
                        // mix-blend-mode: difference;
                        text-shadow: 2px * $scale 2px * $scale 10px * $scale black;
                    }
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    #Content-Spotify {
                        p {
                            font-size: 15px * $scale;
                            width: 200px * $scale;
                            height: 285px * $scale;
                        }

                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;

                        img {
                            width: 60%;
                            margin: 10%;
                        }
                    }
                }

                .quarter {
                    width: 200px * $scale;
                    height: 200px * $scale;
                    border-radius: 400px * $scale 20px * $scale 20px * $scale 20px * $scale;
                    -moz-border-radius: 0 0 100px 0;
                    -webkit-border-radius: 400px * $scale 20px * $scale 20px * $scale 20px * $scale;
                    width: 45%;
                    height: 35%;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    // background-color: ;
                    z-index: 1;
                }
                & *:not(.quarter) {
                    z-index: 2;
                }

                #Thumbnail {
                    width: 95%;
                    position: absolute;
                    bottom: 10px * $scale;
                    border-radius: 20px * $scale;
                    height: 42%;
                }
            }
        }
    }
}

@mixin res($maxwidthres) {
    @media only screen and (max-width: $maxwidthres) {
        @content;
    }
}

@media only screen and (max-width: 1210px) {
    #NavigationBarShow {
        display: none;
    }
    #NavigationBottom {
        display: flex;
    }

    .detail {
        height: 91vh;
    }
}

@include responsive(600px, 0.75);
@include responsive(560px, 0.7);
@include responsive(520px, 0.65);
@include responsive(480px, 0.6);
@include responsive(440px, 0.55);
@include responsive(400px, 0.5);

@media only screen and (max-width: 400px) {
    #NavigationBottom {
        i {
            font-size: 10vw;
        }
    }
}

@include responsive(360px, 0.45);

@include res(1210px) {
    .detail {
        #thumbnail_tags_share_spotify {
            display: none;
        }

        .commentsection {
            left: 5px;
            bottom: 5px;
            top: auto;
            right: auto;
            flex-direction: column-reverse;

            .comments {
                width: 55vw;
                height: 54vw;

                padding: 20px;
                * {
                    font-size: 2vw;
                }

                .docomment {
                    input {
                        padding: 1vw;
                        font-size: 2vw;
                    }
                }
            }

            .showcomments {
                flex-direction: row;
                align-items: center;
                padding: 5px 20px;

                img {
                    margin-top: 0px;
                    width: 50px;
                    margin-left: 5px;
                }

                span {
                    writing-mode: horizontal-tb;
                    font-size: 30px;
                }
            }
        }

        .back {
            display: none;
        }

        #sharebottom {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 5px;
            right: 5px;

            img {
                margin: 0px 5px;
            }
        }
        #title_speak_content {
            overflow: auto;
            margin-left: 0px;
            padding: 0px 5px;
            padding-left: 0px;
            height: 81vh;
            width: 99vw;
            #content {
                overflow: hidden !important;
                height: fit-content;
                padding: 10px;
            }

            #title_speak {
                background-color: red;
                width: inherit !important;
                justify-content: space-between !important;

                border-top-left-radius: 20px;
                border-top-right-radius: 20px;

                * {
                    margin: 0px 20px;
                }
            }

            #content {
                height: max-content;
                overflow: hidden;
                width: 94vw !important;
            }
        }
    }
}

@include res(850px) {
    .detail {
        #title_speak_content {
            #title_speak {
                width: 99vw !important;
                flex-direction: column;
                align-items: center;

                #Speak {
                    display: none;
                }
            }
        }
    }
}

@include res(505px) {
    .detail {
        .commentsection {
            .showcomments {
                span {
                    font-size: 5vw;
                }
                img {
                    width: 9vw;
                }
            }
        }

        #sharebottom {
            img {
                width: 9vw;
            }
        }
    }
}

@include res(550px) {
    .detail {
        #title_speak_content {
            #title_speak {
                width: 99vw !important;
                flex-direction: column;
                align-items: center;

                #title {
                    font-size: 9vw;
                    width: 96vw;
                    text-align: center;
                }
            }
        }
    }
}
